[mcu]
serial: /dev/ttyERB

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 800 #250
square_corner_velocity: 1
max_z_velocity: 10
max_z_accel: 100

[stepper_x]
step_pin: gpio10
dir_pin: gpio9
enable_pin: !gpio8
microsteps: 16
rotation_distance: 40
#endstop_pin: ^gpio24
position_endstop: 0
position_max: 210

# sensorless homing
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 35
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: gpio11
diag_pin: gpio13
run_current: 0.65
hold_current: 0.2
driver_SGTHRS: 70
stealthchop_threshold: 999999
interpolate: False

[stepper_y]
step_pin: gpio16
dir_pin: gpio15
enable_pin: !gpio14
microsteps: 16
rotation_distance: 40
#endstop_pin: ^gpio25
position_endstop: 0
position_max: 25
# sensorless homing
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: gpio17
diag_pin: gpio19
run_current: 0.65
hold_current: 0.2
driver_SGTHRS: 60
stealthchop_threshold: 999999
interpolate: False

# klipper can't live without z axis
[stepper_z]
step_pin: gpio18
dir_pin: gpio20
enable_pin: !gpio12
microsteps: 16
rotation_distance: 8
endstop_pin: gpio0
position_min: -1
position_max: 1
position_endstop: 0
homing_positive_dir: 0

[gcode_macro RESTORE_RUN_CURRENT]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer.configfile.settings['tmc2209 stepper_x'].run_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer.configfile.settings['tmc2209 stepper_y'].run_current}

[homing_override]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.2
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.3
    G4 P2000
    G28 Y
    G1 Y10 F1000
    G4 P1000
    G28 X
    G1 X50 F1000
    #G4 P1000
    #G28 Y
    #G4 P1000
    #G1 Y2 F1000
    G90
    G1 Z0 F1000
    RESTORE_RUN_CURRENT
axes: xy

[respond]
default_type: echo

[servo gripor_servo]
pin: gpio23
maximum_servo_angle: 180
minimum_pulse_width: 0.001000
maximum_pulse_width: 0.002400

#initial_angle: 0

[gcode_macro GRIPOR_OPEN]
gcode:
    M400
    SET_SERVO SERVO=gripor_servo ANGLE=150
    M400

[gcode_macro GRIPOR_CLOSE]
gcode:
    M400
    SET_SERVO SERVO=gripor_servo ANGLE=80
    M400

[gcode_macro CHECK_HOMED]
gcode:
    {% set status = "" %}
    {% if 'x' in printer.toolhead.homed_axes %}
        {% set status = status ~ "X" %}
    {% endif %}
    {% if 'y' in printer.toolhead.homed_axes %}
        {% set status = status ~ "Y" %}
    {% endif %}
    
    {% if status == "XY" %}
        RESPOND MSG="AXIS_STATUS: READY"
    {% else %}
        RESPOND MSG="AXIS_STATUS: UNHOMED"
    {% endif %}
